* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #050b18;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px 15px;
}

/* Main Container */
.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Profile */
.profile {
    margin-bottom: 30px;
}

.profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 3px solid #22d3ee;

    background: #0b1730;
    color: #22d3ee;

    font-size: 32px;
    font-weight: bold;

    box-shadow: 0 0 25px rgba(34, 211, 238, 0.35);
}

.profile h1 {
    font-size: 30px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.profile p {
    color: #22d3ee;
    font-size: 16px;
    margin-bottom: 8px;
}

.profile span {
    color: #b8c4d6;
    font-size: 14px;
}


/* Links Area */
.links {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


/* Link Buttons */
.link-btn {
    width: 100%;
    min-height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 15px 20px;

    background: #0b1730;
    border: 1px solid #1d365c;
    border-radius: 12px;

    color: white;
    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    transition: 0.3s ease;
}


/* Icons */
.link-btn i {
    font-size: 21px;
    color: #22d3ee;
}


/* Hover Effect */
.link-btn:hover {
    transform: translateY(-3px);

    background: #22d3ee;
    color: #050b18;

    border-color: #22d3ee;

    box-shadow: 0 8px 25px rgba(34, 211, 238, 0.25);
}

.link-btn:hover i {
    color: #050b18;
}


/* Footer */
footer {
    margin-top: 35px;
    padding-bottom: 20px;
}

footer p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 7px;
}

footer small {
    color: #7f8da3;
    font-size: 13px;
}


/* Mobile */
@media (max-width: 500px) {

    body {
        padding: 30px 12px;
    }

    .profile h1 {
        font-size: 26px;
    }

    .profile p {
        font-size: 14px;
    }

    .link-btn {
        min-height: 55px;
        font-size: 15px;
    }

}